.grid-container{
    display:grid;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-columns: 130px 130px 130px;
    background-color: hsl(39, 90%, 54%);
    padding: 225px;
    }

    .grid-container > div{
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    
    }